<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>1일1생각</title>
  <link rel="stylesheet" href="../../assets/stylesheets/style.css">
  <script type="module" src="../../assets/javascripts/app.js"></script>
</head>
<body>
  <div class="header">
    <img class="headerimg" src="../img/Hamburger_icon.png" alt="HamburgerBar">
    <img class="logo" src="../img/Logo.png" alt="Logo">
    <img class="headerimg" src="../img/alarm.png" alt="">
  </div>

  <div class="content">
    <div class="mainOnedayThink">
      <div class="container">
        <p>정부가 모든 대형견에 입마개를 의무화하는것을 검토하겠다는 뜻을 전했다</p>
        <a>더 자세한 내용이 알고싶다면</a>
      </div>
    </div>
    <div class="positionThink">
      <ul id="tabs" class="tabs">
          <li>긍정</li>
          <li>중립</li>
          <li>부정</li>
      </ul>
      <div id="pro" class="NewsIssue"><p>견종에 따라 몸의 형태가 각각이고 체고가 공격성을 증명할 수 있다고 생각한다</p></div>
      <div id="neu" class="NewsIssue"><p>견종에 따라 몸의 형태가 각각이고 체고가 공격성을 증명할 수 있을수도 있고 없을수도있다</p></div>
      <div id="cons" class="NewsIssue"><p>견종에 따라 몸의 형태가 각각이고 체고가 공격성을 증명할 수 없다고 생각한다</p></div>
    </div>
  </div>
  <div class="footer">
    <a href="./writeThink.html">여러분의 의견은 어떠한가요?</a>
  </div>
  </body>
  </html>